</main>

<footer class="footer" id="contact" data-aos="fade-down" data-aos-duration="1000">
    <div class="footer-container-grid">
      <div class="footer-container-grid-layout">
      
        <div class="footer-col">
          <h3>Medcare</h3>
          <p>
            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages.
          </p>
          <p><i class="fa-solid fa-envelope"></i> info@websitename.com</p>
          <p><i class="fa-solid fa-location-dot"></i> 1378 Whitetail Frisco, 75034</p>
        </div>

        <div class="footer-col">
          <h4>Quick Links</h4>
          <ul>
            <li><a href="#">About Us</a></li>
            <li><a href="#">Our Services</a></li>
            <li><a href="#">Testimonials</a></li>
            <li><a href="#">Our Blogs</a></li>
            <li><a href="#">Contact Us</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Our Services</h4>
          <ul>
            <li><a href="#">Terms of Use</a></li>
            <li><a href="#">Privacy Policy</a></li>
            <li><a href="#">Contact Support</a></li>
            <li><a href="#">Careers</a></li>
          </ul>
        </div>

        <div class="footer-col">
          <h4>Book An Appointment</h4>
          <p>The doctorate staff members are well trained professionals.</p>
          <a href="tel:+0123456789" class="call-btn"><i class="fa-solid fa-phone"></i> Call : +012 345 6789</a>
        </div>
        
      </div>
      <div class="footer-bottom">
        <p>All Rights Reserved © Company <span id="year"></span> | <a href="#">Terms & Conditions</a> | <a href="#">Privacy Policy</a></p>
        <div class="footer-socials">
          <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="fa-brands fa-twitter"></i></a>
          <a href="#"><i class="fa-brands fa-instagram"></i></a>
        </div>
      </div>  
    </div>
  </footer>
          


    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="script.js"></script>
  </body>
</html>
