<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hospital app</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"
    />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="navbar-container">
          <a href="/" class="navbar-logo">IKEDIFE HOSPITAL</a>
        </div>
      </nav>
    </header>
    <main>

    <div class="approval-container">
    <div class="card-app">
      <div class="status-icon">✔</div>
      <h2>Appointment Request Received</h2>
      <h3><%=  name %></h3>
      <p>
        Thank you for booking an appointment with <strong>IKEDIFE</strong>.<br><br>We have received your request, and our team will reach out to you shortly to confirm the most suitable date and time for your visit. This will ensure that you are scheduled with the right Consultant and attended to in the shortest possible time.
      </p>
      <p class="urgent">
        For urgent concerns, please contact us at <br>
        <strong>tel:+0123456789</strong> or <strong>info@websitename.com</strong>.
      </p>

      <a href="/" class="home-btn">Home</a>
    </div>   
  </div>
</body>
</html>
