<%- include("partials/header") %>

    <div class="container" id="home">
      <div class="container-grid">
        <div class="hero">
          <div class="hero-text" data-aos="fade-down" data-aos-duration="1000">
            <p class="welcome">WELCOME TO MEDCARE</p>
            <h1>Taking care of your health is our top priority.</h1>
            <p class="motto">
              Being healthy is more than just not getting sick. It entails
              mental, physical and social well-being. it's not justabout
              treatment, it's about healing.
            </p>
            <a href="#appointment" class="btnii green">Book An Appointment</a>
          </div>
          <div class="hero-img">
            <img src="./images/Aa.png" alt="Doctor" />
          </div>
        </div>
        <div class="zero"></div>
        <div class="red">
          <div class="features">
             <div class="feature-card" data-aos="zoom-in-right" data-aos-duration="1000"> 
              <img
                src="./images/A1.png"
                alt="Doctor Icon"
                class="feature-icon"
              />
              <h3>Qualified Doctors</h3>
              <p>
                Developing whole individuals is our goal. We have a flexible,
                high-trust environment.
              </p>
            </div>

            <div class="divider"></div>

            <div class="feature-card" data-aos="fade-up" data-aos-duration="1000">
              <img
                src="./images/A2.png"
                alt="Helicopter Icon"
                class="feature-icon"
              />
              <h3>Emergency Helicopter</h3>
              <p>
                The air ambulance feature is now available even to middle class
                people, saving lives.
              </p>
            </div>

            <div class="divider"></div>

            <div class="feature-card"data-aos="zoom-in-left" data-aos-duration="1000">
              <img
                src="./images/A3.png"
                alt="Covid Icon"
                class="feature-icon"
              />
              <h3>Covid - 19</h3>
              <p>
                With rising Covid-19 cases, it is hard to imagine a positive
                start to your date.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="about-us" id="about">
      <div class="about-content">
        <div class="section-tag" data-aos="zoom-in-right" data-aos-duration="1500">   
          <span class="section-tag1">
            <img
              src="./images/A11.png"
              alt="waveform"
              class="wave-icon"
            />
            ABOUT US
          </span>
          <h1>Welcome To Medcare Central Hospital</h1>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu
            turpis molestie, dictum est a, mattis tellus. Sed dignissim metus
            nec fringilla accumsan, risus sem sollicitudin lacus, ut interdum
            tellus elit sed risus.
          </p>

          <div class="highlights">
            <div class="highlight">
              <span>
                <img
                  src="./images/A22.png"
                  alt="checkmark"
                  class="checkmark"
                />
              </span>
              <p>15+ Years of excellence</p>
            </div>
            <div class="highlight">
              <span>
                <img
                  src="./images/A22.png"
                  alt="checkmark"
                  class="checkmark"
                />
              </span>
              <p>24/7 Hour Medical Service</p>
            </div>
            <div class="highlight">
              <span>
                <img
                  src="./images/A22.png"
                  alt="checkmark"
                  class="checkmark"
                />
              </span>
              <p>A Multispecialty hospital</p>
            </div>
            <div class="highlight">
              <span>
                <img
                  src="./images/A22.png"
                  alt="checkmark"
                  class="checkmark"
                />
              </span>
              <p>A team of professionals</p>
            </div>
          </div>

          <a href="#appointment" class="btn-3 third">Book An Appointment</a>
        </div>

        <div class="about-container" data-aos="zoom-in-right" data-aos-duration="1500">  
          <div class="bg-box box1"></div>
          <div class="bg-box box2"></div>
          <div class="front-box">
            <img src="./images/A33.png" alt="Doctor Image" />
          </div>
        </div>
      </div>
    </div>

    <div class="stats-section">
      <div class="stats-container">
        <div class="stat-box">
          <h2>35+</h2>
          <p>National Awards</p>
        </div>
        <div class="stat-box">
          <h2>125+</h2>
          <p>Expert Doctors</p>
        </div>
        <div class="stat-box">
          <h2>5k+</h2>
          <p>Satisfied Patients</p>
        </div>
        <div class="stat-box">
          <h2>8k+</h2>
          <p>Operation Success</p>
        </div>
      </div>
    </div>

    <div class="services" id="services">
      <span class="services-tag" data-aos="fade-up" data-aos-duration="1000">  
        <img src="./images/A11.png" alt="waveform" class="wave-icon" />
        MEDICAL SERVICES
      </span>
      <h2 data-aos="fade-up" data-aos-duration="1000">Find Out More About Our Services</h2>   
      <div class="services-grid" data-aos="flip-left">
        <div class="service-card">
          <img src="./images/Ab5.png" alt="Cardiology" />
          <h3>Cardiology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="service-card neuro" data-aos="fade-up" data-aos-duration="1000">
          <img src="./images/Ab6.png" alt="Neurology" />
          <h3>Neurology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          <a href="#">Read More →</a>
        </div>

        <div class="service-card">
          <img src="./images/Ab7.png" alt="Urology" />
          <h3>Urology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="service-card">
          <img src="./images/Ab4.png" alt="Urology" />
          <h3>Pulmonary</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="service-card" data-aos="fade-up" data-aos-duration="1000">
          <img src="./images/Ab10.jpg" alt="Urology" />
          <h3>Radiology</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>

        <div class="service-card hypo">
          <img src="./images/Ab4.png" alt="Urology" />
          <h3>Hyphotherapy</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
      </div>
    </div>

    <div class="testimonial-container">
      <div class="testimonial-catalogue">
        <div class="testimonial-left" data-aos="zoom-out-right" data-aos-duration="1000">
          <span class="services-tag">
            <img
              src="./images/A11.png"
              alt="waveform"
              class="wave-icon"
            />
            TESTIMONIALS
          </span>
          <h2>Great Patient Stories</h2>
          <p>
            Lorem ipsum dummy text of the printing and typesetting industry.
            dolor sit amet, is simply dummy text of the printing and typesetting
            industry. Lorem Ipsum since the 1500s, consectetur adipiscing elit.
            Etiam eu turpis molestie.
          </p>
          <div class="swiper-btn">
            <button class="custom-btn testimonial-button-prev"><<</button>
            <button class="custom-btn testimonial-button-next">>></button>
          </div>
        </div>

        <div class="swiper testimonial-swiper">
          <div class="swiper-wrapper testimonial-right">
            <div class="swiper-slide testimonial-slide">
              <div class="testimonial-card">
                <p class="testimonial-text">
                  Nulla sit amet finibus lacus. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nullam viverra sapien a tincidunt
                  interdum. Nam sem risus, posuere sed sapien non, ultrices
                  auctor nunc. Proin mollis finibus aliquet lorem ipsum.
                </p>
                <hr class="testimonial-divider" />
                <div class="testimonial-footer">
                  <div class="span1">
                    <div class="text-box">
                      <img
                        src="./images/Aq.jpg"
                        alt="User photo"
                        class="testimonial-img"
                      />
                      <div class="span2">
                        <h4 class="testimonial-name">Kevin B. Ibarra</h4>
                        <p class="testimonial-role">Patient</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-icon">
                    <img
                      src="./images/Aq.png"
                      alt="User photo"
                      class="testimonial-quote-img"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-card">
                <p class="testimonial-text">
                  Nulla sit amet finibus lacus. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nullam viverra sapien a tincidunt
                  interdum. Nam sem risus, posuere sed sapien non, ultrices
                  auctor nunc. Proin mollis finibus aliquet lorem ipsum.
                </p>
                <hr class="testimonial-divider" />
                <div class="testimonial-footer">
                  <div class="span1">
                    <div class="text-box">
                      <img
                        src="./images/Aq.jpg"
                        alt="User photo"
                        class="testimonial-img"
                      />
                      <div class="span2">
                        <h4 class="testimonial-name">Kevin B. Ibarra</h4>
                        <p class="testimonial-role">Patient</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-icon">
                    <img
                      src="./images/Aq.png"
                      alt="User photo"
                      class="testimonial-quote-img"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-card">
                <p class="testimonial-text">
                  Nulla sit amet finibus lacus. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nullam viverra sapien a tincidunt
                  interdum. Nam sem risus, posuere sed sapien non, ultrices
                  auctor nunc. Proin mollis finibus aliquet lorem ipsum.
                </p>
                <hr class="testimonial-divider" />
                <div class="testimonial-footer">
                  <div class="span1">
                    <div class="text-box">
                      <img
                        src="./images/Aq.jpg"
                        alt="User photo"
                        class="testimonial-img"
                      />
                      <div class="span2">
                        <h4 class="testimonial-name">Kevin B. Ibarra</h4>
                        <p class="testimonial-role">Patient</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-icon">
                    <img
                      src="./images/Aq.png"
                      alt="User photo"
                      class="testimonial-quote-img"
                    />
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide">
              <div class="testimonial-card">
                <p class="testimonial-text">
                  Nulla sit amet finibus lacus. Lorem ipsum dolor sit amet,
                  consectetur adipiscing elit. Nullam viverra sapien a tincidunt
                  interdum. Nam sem risus, posuere sed sapien non, ultrices
                  auctor nunc. Proin mollis finibus aliquet lorem ipsum.
                </p>
                <hr class="testimonial-divider" />
                <div class="testimonial-footer">
                  <div class="span1">
                    <div class="text-box">
                      <img
                        src="./images/Aq.jpg"
                        alt="User photo"
                        class="testimonial-img"
                      />
                      <div class="span2">
                        <h4 class="testimonial-name">Kevin B. Ibarra</h4>
                        <p class="testimonial-role">Patient</p>
                      </div>
                    </div>
                  </div>
                  <div class="quote-icon">
                    <img
                      src="./images/Aq.png"
                      alt="User photo"
                      class="testimonial-quote-img"
                    />
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="swiper-pagination"></div> -->
          <!-- <div class="swiper-scrollbar"></div> -->
        </div>
      </div>
    </div>

    <div class="work-process" data-aos="fade-down" data-aos-duration="1000">
      <span class="services-tag" data-aos="fade-up" data-aos-duration="1000">
        <img src="./images/A11.png" alt="waveform" class="wave-icon" />
        OUR WORK PROCESS
      </span> 
    <h2 class="section-title" data-aos="fade-up" data-aos-duration="1000">Let's See How We Work</h2>
    <p class="section-desc" data-aos="fade-up" data-aos-duration="1000">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
      Vivamus elementum erat vitae leo pretium consequat.
    </p>

    <div class="process-grid" data-aos="fade-up" data-aos-duration="1000">
      <div class="process-item">
        <div class="icon">
          <img src="./images/L1.png" class="l1" />
        </div>
        <h3>Seeing Patients</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="process-item">
        <div class="icon">
          <img src="./images/L2.png" class="l2" />
        </div>
        <h3>Making a Diagnosis</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>

      <div class="process-item">
        <div class="icon">
          <img src="./images/L3.png" class="l3" />
        </div>
        <h3>Developing a Treatment</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </div>
  </div>

  <div class="facilities-section" id="facilities" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1500">
    <div class="left-facilities-container">
      <div class="facilities-text">
        <span class="services-tag">
          <img src="./images/A11.png" alt="waveform" class="wave-icon" />
          OUR FACILITIES
        </span>
        <h2>Facilities That We Provide</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam eu turpis molestie, dictum est a, mattis tellus. Sed dignissim metus nec fringilla accumsan.</p>
        <a href="#" class="facilities-btn">View All →</a>
      </div>
    </div>

    <div class="facilities-grid">
       <div class="facility-card-1 card-radius">
        <div class="facility-icon">
          <img src="./images/M6.png" class="m6" />
        </div>
        <h3>Online Sessions</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="facility-card-2 card-radius">
        <div class="facility-icon">
          <img src="./images/M3.png" class="m3" />
        </div>
        <h3>Instant Operation</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="facility-card-3 card-radius">
        <div class="facility-icon">
          <img src="./images/M2.png" class="m2" />
        </div>
        <h3>Emergency Care</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="facility-card-4 card-radius">
        <div class="facility-icon">
          <img src="./images/M5.png" class="m5" />
        </div>
        <h3>Private & Secure</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sit amet consectetur adipiscing elit.</p>
      </div>
      <div class="facility-card-5 card-radius">
        <div class="facility-icon">
          <img src="./images/M1.png" class="m1" />
        </div>
        <h3>Outdoor Service</h3>
        <p>Lorem ipsum dolor sit amet consectetur adipiscing elit sit amet consectetur adipiscing elit.</p>
      </div>
    </div>

  </div>


  <div class="doctors-container" id="doctors">
    <div class="doctors-section">
      <span class="services-tag">
        <img src="./images/A11.png" alt="waveform" class="wave-icon" />
        OUR DOCTORS
      </span>

      <div class="header-btn">
        <h2>Our Best Doctors</h2>
        <div class="doctors-nav">
          <button class="doctors-button-prev"><<</button>
          <button class="doctors-button-next">>></button>
        </div>
      </div>
    </div>

    <div class="doctors-section-two">
      <div class="swiper doctors-swiper">
        <div class="swiper-wrapper">

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O1.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O2.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O3.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O4.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O2.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>

          <div class="swiper-slide doctor-card">
            <div class="doctor-card-tabs">
              <img src="./images/O1.png" loading="lazy" alt=""/>
              <div class="main">
                <h4>Dr. Diana Ayers</h4>
                <p>Cardiologist</p>
                <div class="extra"> 
                  <div class="social-wrapper">
                    <div class="social-icons">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-whatsapp"></i></a>
                    </div>
                  </div>
                </div>
              </div>    
            </div>
          </div>
        </div>
      </div>
    </div> 
  </div>


  <div class="appointment-container" data-aos="fade-down" data-aos-easing="linear" data-aos-duration="1000">
    <div class="appointment-grid">
      
      <div class="appointment-first">
       <div class="appointment-text">
          <span class="services-tag">
          <img src="./images/A11.png" alt="waveform" class="wave-icon" />
          GET AN APPOINTMENT
          </span>
          <h1>Widest Network Of Best Healthcare</h1>
          <p>
            Using the Most Advanced Healing Technologies, Our Professionals
            will Restore you to Pain-Free Health as Quickly as Possible.
          </p>
        </div>

        <div class="appointment-image">
          <img src="/images/P1.png" loading="lazy" alt="Doctor" />
        </div>
      </div>

      <div class="none-two"></div>

     
      <div class="appointment-cards" >
        
        <div class="card appointment-card">
          <div class="card-img">
            <img src="./images/P2.jpg" alt="Doctors" />
          </div>
          <div class="form-content" id="appointment">
            <div class="form-icon">
              <img src="./images/P3.png" alt="Doctors" />
              <h3>Make an appointment</h3>
            </div>
            <form action="/appointment" method="POST" id="appointmentForm">
              <input type="text" name="name" placeholder="Name" required/>
              <input type="email" name="email" placeholder="Email" required/>
              <input type="tel" name="tel" placeholder="Phone" required/>
              <button type="submit">Book Appointment</button>
            </form>
          </div>
        </div>

      
        <div class="card video-card">
          <div class="video-container">
           
            <div class="thumbnail" onclick="playVideo()">
              <img src="./images/P4 (3).jpg" loading="lazy" alt="Video preview">
              <div class="play-button"></div>
            </div>

            
            <div class="iframe-wrapper" id="videoFrame">
              <iframe width="560" height="315"
                src="https://www.youtube.com/embed/hmJ29PZo0wU"
                title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen>
              </iframe>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="blog-section">
    <div class="blog-grid">
      <div class="section-header">
        <span class="services-tag tagline">
          <img src="./images/A11.png" alt="waveform" class="wave-icon" />
          OUR BLOGS
        </span> 
        <h1>Latest Blogs & Articles</h1>
      </div>

      <div class="blog-grid-layout">
        <div class="layout-gid">

         <div class="blog-card-1 card-blog">
            <div class="card-blog-img">
              <img src="./images/X5.jpg" alt="Blog 1">
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span>
                  <img src="./images/X2.png" alt="Blog 1">
                  Jeffrey Davis
                </span>
                <span>
                  <img src="./images/X1.png" alt="Blog 1">
                  24 Jan 2023
                </span>
              </div>
              <h3>New Technology Make for Pulmonary Operation</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="read-more">View Details →</a>
            </div>
          </div>

          <div class="blog-card-2 card-blog" data-aos="fade-up" data-aos-duration="1000">
            <div class="card-blog-img">
              <img src="./images/X4 (2).jpg" alt="Blog 2">
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span>
                  <img src="./images/X2.png" alt="Blog 1">
                  Allen Hartzler
                </span>
                <span>
                  <img src="./images/X1.png" alt="Blog 1">
                  24 Jan 2023
                </span>
              </div>
              <h3>To Be Good Health Take Doctor Suggestions</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="read-more">View Details →</a>
            </div>
          </div>

          <div class="blog-card-3 card-blog">
            <div class="card-blog-img">
              <img src="./images/X3.jpg" alt="Blog 3">
            </div>
            <div class="blog-content">
              <div class="blog-meta">
                <span>
                  <img src="./images/X2.png" alt="Blog 1">
                  Diana Ayers
                </span>
                <span>
                  <img src="./images/X1.png" alt="Blog 1">
                  24 Jan 2023
                </span>
              </div>
              <h3>A Guide to Maintaining Healthy Bones</h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              <a href="#" class="read-more">View Details →</a>
            </div>
          </div>
        </div> 
      </div>
    </div>

    <div class="more-btn">
      <button>More Articles</button>
    </div>
  </div>


  <div class="newsletter">
    <div class="newsletter-grid">
      <div class="newsletter-layout">
        <div class="newsletter-main-grid">
          <div class="newsletter-content">
            <h4>Subscribe Newsletter</h4>
            <h2>Get the latest updates by <br> Subscribing to our newsletter</h2>
          </div>
          <form class="newsletter-form">
            <input type="email" placeholder="Your email address..." required>
            <button type="submit">Subscribe</button>
          </form>
        </div>
      </div>
    </div>
  </div>

<%- include("partials/footer") %>
  